<%- include('partials/header'); -%>
 
<div class="container">


  <div class="row">
    <div style="margin-bottom: 10px;" id="" class="carousel slide col-lg-6 col-sm-6 col-6  " data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          
            <img  class="d-block img-fluid " src="https://i.imgur.com/LJ4AAmX.jpg"
              alt="">
        </div>

      </div>
    </div>
    <div  id="carouselExampleIndicators" class="carousel slide col-lg-6 col-sm-6 col-6">
      <h4 id="evaluation_login" class="text-center"> Your minified link </h4>
      <h5><%=resData%></h5>

    </div>
  </div>


</div>



