<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
  <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Short Url Service</title>
  <link href="/css/glyphicon.css" rel="stylesheet" >
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="/css/shop-homepage.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav  class="navbar navbar-expand-lg  navbar-light bg-light ">
    <div class="container">
           
      <a  style="margin-left: 45%;"  href="/">Short Url Service</a>
        
    </div> 
            
    </nav>
    
  <!-- Use any element to open the sidenav -->



